* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}
body {
    background-color: antiquewhite;
}
.container {
    width: 40rem; 
    height: 40rem;
    border: 1rem solid black;
    display: flex;
    flex-wrap: wrap;
    margin-inline: auto;
    border-radius: .5rem;
    margin-top: 2rem;

}
.sizeResult {
    margin-inline: auto;
    width: max-content;
    font-size: 1.2rem;
    margin-top: 0.2rem;
}
.header {
    width: max-content;
    margin-inline: auto;
    margin-top: 2rem;
}
.header-label {
    font-size: 5rem;
    margin-bottom: .5rem;
    font-family: "Ga Maamli", sans-serif;
    font-weight: 400;
    font-style: normal;
}
.gridInput {
    width: 20rem;
}

.input-container {
    width: max-content;
    margin-inline: auto;
}
.button {
    width: 5rem;
    border-color: transparent;
    background-color: cadetblue;
    color: white;
    margin-left: .5rem;
    font-weight: bold;
}
.square {
    background-color: white;
    cursor: pointer;
}